body {
  background-image: url(./bilder/wallpaper.jpg);
  background-size: cover;
  background-position: center;
}

#bgg{
  background-color: black;
  width: 50%;
  margin-left: 25%;
  opacity: 0.9;
  text-align: center;
}

.gametitle{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  background:#000000;
  color:#ffffff;
  font-family:Tahoma;
  font-size:1.2rem;
  padding: 16px 36px;
  text-decoration: none;
  margin-top: 70px;
  border: 1px solid white;
}

.gametitle:hover{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  background: white;
  color: black;
  font-family:Tahoma;
  font-size:1.2rem;
  padding: 16px 36px;
  text-decoration: none;
  border: 1px solid white;
}

#game1{
  border: 1px solid white;
  width: 50%;
  height: 300px;
  margin: auto;
  margin-bottom: 1%;
  background-image: url(./bilder/battlefront2.jpg);
  background-size: cover;
  background-position: center;
}
#game2{
  border: 1px solid white;
  width: 50%;
  height: 300px;
  margin: auto;
  margin-bottom: 1%;
  background-image: url(./bilder/legostarwars.jpg);
  background-size: cover;
  background-position: top;
  margin-top: 30px;
}

#game3 {
  border: 1px solid white;
  width: 50%;
  height: 300px;
  margin: auto;
  margin-bottom: 1%;
  background-image: url(./bilder/battlefront2.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}
#game4{
  border: 1px solid white;
  width: 50%;
  height: 300px;
  margin: auto;
  margin-bottom: 1%;
  background-image: url(./bilder/battlefront2.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}
