body {
  background-image: url(./bilder/wallpaper.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;
}

#centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#bgg{
  background-color: black;
  width: 50%;
  margin-left: 25%;
  opacity: 0.9;
  text-align: center;
}

.gametitle{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  background:#000000;
  color:#ffffff;
  font-family:Tahoma;
  font-size:1.2rem;
  padding: 16px 36px;
  text-decoration: none;
  margin-top: 70px;
  border: 1px solid white;
}

.gametitle:hover{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  background: white;
  color: black;
  font-family:Tahoma;
  font-size:1.2rem;
  padding: 16px 36px;
  text-decoration: none;
  border: 1px solid white;
}

#game1{
  border: 1px solid white;
  width: 325px;
  height: 300px;
  margin: auto;
  margin-bottom: 1%;
  background-image: url(./bilder/battlefront2.jpg);
  background-size: cover;
  background-position: center;
}

#game2{
  border: 1px solid white;
  width: 325px;
  height: 300px;
  margin: auto;
  margin-bottom: 1%;
  background-image: url(./bilder/legostarwars.jpg);
  background-size: cover;
  background-position: top;
  margin-top: 30px;
}

#game3 {
  border: 1px solid white;
  width: 325px;
  height: 300px;
  margin: auto;
  margin-bottom: 1%;
  background-image: url(./bilder/oldrepublic.jpg);
  background-size: cover;
  background-position: top;
  margin-top: 30px;
}
#game4{
  border: 1px solid white;
  width: 325px;
  height: 300px;
  margin: auto;
  margin-bottom: 1%;
  background-image: url(./bilder/forceunl.jpg);
  background-size: cover;
  background-position: top;
  margin-top: 30px;
}

#iframetrailer{
  border: 1px solid white;
  background-color: black;
}

.trailerbtn{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  background:#000000;
  color:#ffffff;
  font-family:Tahoma;
  font-size: 13px;
  padding: 1px 5px;
  text-decoration: none;
  border: 1px solid white;
  margin-top: 3px;
  margin-bottom: 3px;
}

.trailerbtn:hover{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  background: white;
  color: black;
  font-family:Tahoma;
  padding: 1px 5px;
  text-decoration: none;
  border: 1px solid white;
}

.playbutton{
  height: auto;
  width: 150px;
  opacity: 0;
  margin-top: 75px;
}

.playbutton:hover{
  opacity: 1;
}

#backg{
  background: black;
  height: 200px;
  width: auto;
  opacity: 0
}
