/*Använd kommentarer för fan*/

/*ADD BOTTOM DIV*/
/*sätt en bild på varje div och gör bilden mörkare så man kan
se texten vi lägger över den*/
body {
  background: black;
}
header{
  /*Den första bilden på hemsidan*/
  background-image: url("./Images/header.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  border: 0px solid black
}

/*Knapp*/
.btn{
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 5px;
	border: 0px solid #fff200;
	background:#000000;
	color:#ffffff;
	font-family:Tahoma;
	font-size:1.2rem;
	padding: 16px 36px;
	text-decoration: none;
	opacity: 0.95;
  float: right;
  margin-top: 40%;
  margin-right: 20%;
}

.btn:hover{
	background: #fff200;
	text-decoration: none;
}

/*Add image on every div*/

#div1 { /*div float left*/
  background-color: #d4d4d4;
  border: 0px solid black;
  height: 400px;
  width: 49.9%;
  float: left;
  margin-bottom: 2px;
  margin-top: 2px;
}

#div2 {/*div float right*/
  background-color: #d4d4d4;
  border: 0px solid black;
  height: 400px;
  width: 49.9%;
  float: right;
  margin-bottom: 2px;
  margin-top: 2px;
}

#div3 {/*div float left*/
  background-color: #d4d4d4;
  border: 0px solid black;
  height: 400px;
  width: 49.9%;
  float: right;
  margin-bottom: 2px;
}

#div4 {/*div float right*/
  background-color: #d4d4d4;
  border: 0px solid black;
  height: 400px;
  width: 49.9%;
  float: left;
  margin-bottom: 2px;
}

#bigdiv1{ /*big div under the 4 normal divs*/
  background-color: #d4d4d4;
  border: 0px solid black;
  height: 400px;
  width: 100%;
  float: left;
  margin-bottom: 2px;

}

#div5 {/*div float left*/
  background-color: #d4d4d4;
  border: 0px solid black;
  height: 400px;
  width: 49.9%;
  float: left;
  margin-bottom: 2px;
}

#div6 {/*div float right*/
  background-color: #d4d4d4;
  border: 0px solid black;
  height: 400px;
  width: 49.9%;
  float: right;
  margin-bottom: 2px;
}

#bottomnav { /*info bar at the bottom*/
  background-color: black;
  border: 0px solid black;
  height: 100px;
  width: 100%;
  float: left;
  margin-bottom: 4px;
}

#bottomnav #navA {/*info bar text*/
  float: left;
  margin-right: 75px;
  text-transform: capitalize;
  color: #bfbfbf;
  text-decoration: none;
  margin-top: 12px;
}

#bottomnav #navA:hover {/*info bar text hover*/
 color: #fff;
}

#li1 {/*text position*/
  padding: 30px;
}
