/*Använd kommentarer för fan*/

/*Hover för knapparna*/
 /*Gö en ul också*/
 /*sätt några fina färjer på allts*/

.headerdiv{
  background-image: url("./Images/header.jpg");
  width: 100%;
  height: 300px;
}

p {
  /*p existerar inte än*/
  color: blue;
}

li{
  /*Knapparna*/
  border: 2px solid white;
  width: 5%;
  height: auto;
  text-decoration: none;
}

.list{
  /*namnet på a på knapparna*/
  color: #fce100;
  font-size: 25px;
}
