@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/*Background video*/
video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

/*Position Adjustment*/

html, body {
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}

/*Position Adjustment*/
body {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #000;
	padding: 6em 4em 4em 4em;
}

@-moz-keyframes bg {
	0% {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-moz-transform: translateX(-25%);
		-webkit-transform: translateX(-25%);
		-ms-transform: translateX(-25%);
		transform: translateX(-25%);
	}
}

@-webkit-keyframes bg {
	0% {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-moz-transform: translateX(-25%);
		-webkit-transform: translateX(-25%);
		-ms-transform: translateX(-25%);
		transform: translateX(-25%);
	}
}

@-ms-keyframes bg {
	0% {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-moz-transform: translateX(-25%);
		-webkit-transform: translateX(-25%);
		-ms-transform: translateX(-25%);
		transform: translateX(-25%);
	}
}

@keyframes bg {
	0% {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-moz-transform: translateX(-25%);
		-webkit-transform: translateX(-25%);
		-ms-transform: translateX(-25%);
		transform: translateX(-25%);
	}
}

/* Type */

body, input, textarea {
	color: rgba(255, 255, 255, 0.75);
	font-family: "Roboto", sans-serif;
	font-size: 16pt;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.65em;
}

	@media screen and (max-width: 1680px) {
}

	@media screen and (max-width: 1280px) {
}

	@media screen and (max-width: 980px) {
}

	@media screen and (max-width: 736px) {
}

	@media screen and (max-width: 480px) {
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 736px) {
}

@media screen and (max-width: 480px) {
}
/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	margin-bottom: 2%;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	background-color: #5d47ec;
	border-radius: 6px;
	border: 0;
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	height: 2.75em;
	line-height: 2.75em;
	padding: 0 1.125em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-shadow: 2px 2px 2px #121212;
}

	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	button:hover,
	.button:hover {
		background-color: #d90000;
	}

	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active,
	button:active,
	.button:active {
		background-color: #199e83;
	}

	input[type="submit"].disabled, input[type="submit"]:disabled,
	input[type="reset"].disabled,
	input[type="reset"]:disabled,
	input[type="button"].disabled,
	input[type="button"]:disabled,
	button.disabled,
	button:disabled,
	.button.disabled,
	.button:disabled {
		opacity: 0.5;
	}

	@media screen and (max-width: 480px) {

		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		button,
		.button {
			padding: 0;
		}

	}

/* Header */

#header h1 {
	font-size: 3.25em;
	margin: 0 0 0.55em 0;
	text-shadow: 4px 4px 4px #121212;
}

@media screen and (max-width: 736px) {

	#header h1 {
		font-size: 2em;
	}

	#header p {
		font-size: 1em;
	}

}

@media screen and (max-width: 480px) {

	#header {
		margin: 0 0 1em 0;
	}

}

/* Signup Form */

#signup-form {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
}

	@media screen and (max-width: 480px) {

		#signup-form {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}

			#signup-form > * {
				margin: 1.25em 0 0 0;
			}

	}

/* Footer */

#footer {
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	bottom: 4em;
	color: rgba(255, 255, 255, 0.5);
	left: 4em;
	opacity: 0.5;
	position: absolute;
}

	#footer:hover {
		opacity: 1;
	}

	@media screen and (max-width: 1680px) {

		#footer {
			bottom: 3.5em;
			left: 3.5em;
		}

	}

	@media screen and (max-width: 736px) {

		#footer {
			bottom: 2em;
			left: 2em;
		}

	}

	@media screen and (max-width: 360px) {

		#footer {
			bottom: 1.25em;
			left: 1.25em;
		}

	}

	@media screen and (max-height: 640px) {

		#footer {
			bottom: auto;
			left: auto;
			margin: 1em 0 0 0;
			position: relative;
		}

	}

	#korv { /* Accept our Privacy policy, div */
	  width: 50%;
	  height: 100px;
	  margin: auto;
	  display: none;
	  background: black;
	  position: fixed;
	  color: white;
	  border: 1px solid #1f0e8a;
	  font-style: sans-serif;
	  font-size: 17px;
	  opacity: 0.80;

	  -webkit-animation: move 1.5s;
	  -webkit-animation-fill-mode: forwards;

	  -moz-animation: move 1.5s;
	  -moz-animation-fill-mode: forwards;

	  -o-animation: move 1.5s;
	  -o-animation-fill-mode: forwards;

	  margin-left: 25%;
	  bottom: -200px;
	  margin-bottom: 20px;
	  border-radius: 15px;

	}

	@-webkit-keyframes move { /*animation on pop-up*/
	   from { bottom: -200px; }
	   to   { bottom: 0;}
	}

	#pepe{ /*text on pop-up*/
	  text-transform: capitalize;
	  color: white;
	  margin: 0;
	  margin-left: 2%;
	  display: block;
	}

	.js_a { /*Text color on pop-up window link*/
	  color: white;
	}

	#tralalalala{ /*Button on pop-up window*/
	  width: 15%;
	  height: 50%;
	  float: right;
	  position: relative;
	  margin-right: 10%;
	  margin-top: 3.2%;
	  border: 1px solid #1f0e8a;
	  font-family: sans-serif;
		font-size: 90%;
	  background: #1f0e8a;
	  color: white;
	  border-radius: 3px;
	}

	#tralalalala:hover { /*Button hover on pop-up window*/
	  background: #d90000;
	  border-radius: 3px;
	}

	#korvmedbröd { /*li around text inside pop-up window*/
	  list-style-type: none;
	  margin-top: 4%;
	}

	.btnshake:hover {
	  animation: shake 0.5s;
	  animation-iteration-count: infinite;
	}

	@keyframes shake {
	  0% { transform: translate(0.2px, 0.2px) rotate(0deg); }
	  10% { transform: translate(-0.2px, -1px) rotate(-1deg); }
	  20% { transform: translate(-2px, 0px) rotate(1deg); }
	  30% { transform: translate(2px, 1px) rotate(0deg); }
	  40% { transform: translate(0.2px, -0.2px) rotate(1deg); }
	  50% { transform: translate(-0.2px, 1px) rotate(-1deg); }
	  60% { transform: translate(-1px, 0.2px) rotate(0deg); }
	  70% { transform: translate(1px, 0.2px) rotate(-1deg); }
	  80% { transform: translate(-0.2px, -0.2px) rotate(1deg); }
	  90% { transform: translate(0.2px, 1px) rotate(0deg); }
	  100% { transform: translate(0.2px, -1px) rotate(-1deg); }
	}
