
body {
  background: black;
}


.comic1 { /*5 first images*/
background-size: cover;
height: 340px;
width: 18.8%;
float:left;
margin-right: 12px;
border: 1px solid yellow;
}

.comic1:hover{ /*Hover 5 first images*/
  border: 1px solid yellow;
  box-sizing: border-box; }
