
body {
  background: black;
}


.div1{
height: 400px;
width: 79%;
float:right;
border: 1px solid white;
visibility: hidden;
}

.img1:hover{

  box-sizing: border-box;
  filter: brightness(70%);
 }

.img1:hover + .div1{
 visibility: visible;
}



.div2{
height: 400px;
width: 79%;
float:right;
border: 1px solid white;
visibility: hidden

}

.img2:hover{

  box-sizing: border-box;
  filter: brightness(70%);
 }

.img2:hover + .div2{
 visibility: visible;
}

.div3{
height: 400px;
width: 79%;
float:right;
border: 1px solid white;
visibility: hidden;
}

.img3:hover{

  box-sizing: border-box;
  filter: brightness(70%);
 }

.img3:hover + .div3{
 visibility: visible;
}

.div4{
height: 400px;
width: 79%;
float:right;
border: 1px solid white;
visibility: hidden;
}

.img4:hover{

  box-sizing: border-box;
  filter: brightness(70%);
 }

.img4:hover + .div4{
 visibility: visible;
}

.div5{
height: 380px;
width: 79%;
float:right;
border: 1px solid white;
visibility: hidden;
}

.img5:hover{

  box-sizing: border-box;
  filter: brightness(70%);
 }

.img5:hover + .div5{
 visibility: visible;
}



p{
  color: white;
  border: 1px solid white;
  float: right;
}
