
body {
  background-image: url(./bilder/star.jpg);
  background-size: contain;
  background-position: center;

}

a{
  height: 0px;
  width: 0px ;
  overflow: hidden;
}


.div1{ /*texten brevid img1*/
height: 400px;
width: 75%;
float: right;
border: 1px solid #b3aa00;
visibility: hidden;
}

.img{ /*första bilden i comics*/
  filter:brightness(90%);
  float: left;
}

.img:hover{

  box-sizing: border-box;
  filter: brightness(30%);
 }

.img:hover + .div1{
 visibility: visible;
}


p{
  color: white;
  float: right;
  filter: brightness(70%);
  font-size: 20px;
}
