body {
  background: black;
}
#header1{
 height: 340px;
 margin-bottom: 12px;
}

#header2{
  height: 340px;
  margin-bottom: 12px;
}
.img1 {
background-size: cover;
height: 340px;
width: 19%;
float:left;
margin-right: 12px;}

.img1:hover{ /*HOVER*/
  border: 1px solid yellow;
  box-sizing: border-box; }


.img2 {
  background-size: cover;
  height: 340px;
  width: 19%;
  float:left;
  margin-right: 12px;}

.img2:hover{ /*HOVER*/
  border: 1px solid yellow;
  box-sizing: border-box; }
