body {
  background: black;
}

img { /*all 3 images*/
  width: 25%;
  height: 400px;
  display: none;
  outline: 1px solid #b3aa00;
  outline-offset: -1px;
  box-sizing: border-box;
  margin-left: 36%;
  margin-bottom: 1%;
}

a { /*Link*/
  height: 0px;
  width: 0px;
  overflow: hidden;
}


img:hover { /*image hover*/
  outline: 1px solid yellow;
  outline-offset: -1px;
  filter: brightness(90%);

}


#btndiv { /*div around buttons*/
  margin-left: 44%;
}

.btn1 { /*buttons*/
  width: auto;
  height: 35px;
  font-family:Tahoma;
  font-size:1.2rem;
  background:#000000;
	color:#ffffff;
  border: 1px solid #b3aa00;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn1:hover { /*button hover*/
  background: #b3aa00;
  color: black;
}
