body {
  background: black;
}

.series1 { /*div for the images*/
  background-size: contain;
  width: 25%;
  height: 400px;
  display:inline-block;
  margin-left: 5.5%;
}

.img1 { /*Imgage size*/
  width: 100%;
  height: 400px;
}

.img1:hover { /*Image hover*/
  border: 1px solid #b3aa00;
  box-sizing: border-box;
  filter: brightness(90%);
}

.series2 { /*Text under images*/
  height: 100px;
  width: 25%;
  display: inline-block;
  margin-left: 5.5%;
  color: #b3aa00;
  text-align: center;
  font-family: sans-serif;
  text-transform: capitalize;
}

a{ /*text under images*/
  text-decoration: none;
  color: #b3aa00;
}
